//까만색
$header-black: #343b43;
$left-black:  #23282d;
$left-pBlack: #32373c;
$bd-black:#031127;

$pop-black:#535c64;

//하늘색
$point-sblue: #3ca7ea;
$left-sblue:#70c4ea;
$main-sblue:#59a5c8;
$bg-sblue:#e6f2fb;

$red:#e64444;