@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/HelveticaNeue-Light.eot);
  src: url(../fonts/HelveticaNeue-Light.woff) format('embedded-opentype'),
  url(../fonts/HelveticaNeue-Light.eot) format('otf');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HelveticaNeue.eot);
  src: url(../fonts/HelveticaNeue.woff) format('embedded-opentype'),
  url(../fonts/HelveticaNeue.eot) format('otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/HelveticaNeue-Bold.eot);
  src: url(../fonts/HelveticaNeue-Bold.woff) format('embedded-opentype'),
  url(../fonts/HelveticaNeue-Bold.eot) format('otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/HelveticaNeue-Bold.eot);
  src: url(../fonts/HelveticaNeue-Bold.woff) format('embedded-opentype'),
  url(../fonts/HelveticaNeue-Bold.eot) format('otf');
}

.lanVn *{font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.fwR {font-weight:400}
.fwM {font-weight:600}
.fwB {font-weight:900}
$fwR:400;
$fwM:600;
$fwB:900;